/* ************************************************************** *
 * Theme for FoldingText 1.3 (version based on CodeMirror)
 * 
 * Author: Jamie Kowalski
 * Date:   November 2013
 * 
 * ************************************************************** */

/* ************************************************************** *
 *  Variables
 * ************************************************************** */

@font: Seravek, 'Source Sans Pro', Consolas, 'Courier Prime', Courier; // Seravek is on OS X 10.9
@lineHeight: 1.25;
@tabSize: '8';
@selectionLeftFillTo: margin;
@deskColor: #FEFCF6;
@paperColor: @deskColor;

/* ************************************************************** *
 *  General
 * ************************************************************** */

body {
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeSpeed;
    font-size: 1.05em;
}

.line-select-position {
    margin-top: -3px;
}

.CodeMirror div.CodeMirror-cursor,
.CodeMirror div.CodeMirror-textDropCursor { // textDropCursor is used when insteting
                                            // dragged text
    border-left: 2px solid #5A88C7;
    // .line-select-position;
}
.CodeMirror div.CodeMirror-textDropCursor {
    border-color: black;
}

.cm-selected-text {
    color: rgb(256,253,240);
}

.cm-unordered .cm-lead,
.cm-ordered .cm-lead {
    color: #5A88C7 !important;
}
.cm-unordered .cm-lead {
    font-weight: bold;
}

.cm-code {
    background: rgba(0, 0, 0, 0.08);
    font-family: Consolas, Menlo, monospace;
}

/* ************************************************************** *
 *  Special item types 
 * ************************************************************** */

.CodeMirror {
    .cm-heading[cm-level="1"] {
        font-size: 1.4em;
        text-indent: -15.9pt !important;
    }
    .cm-heading[cm-level="2"] {
        font-size: 1.1em;
        text-indent: -21pt !important;
    }
}
.cm-mode {
    font-weight: normal;
}

/* == Properties =================================================== */

.cm-propertyname {
    font-weight: normal;
    font-style: italic;
    color: #aaa;
}
.cm-propertyvalue {
    font-style: normal;
}
